<!DOCTYPE html>
<html>
  <head>
  <title>goblawg &middot; Eli James</title>
    <link href='./css/normalize.css' type='text/css' rel='stylesheet' />
    <link href='./css/foundation.min.css' type='text/css' rel='stylesheet' />

    <link href='./css/adminstyle.css' type='text/css' rel='stylesheet' />

    <script src="./js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="//use.typekit.net/nlh5hzh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type='text/javascript' src="./js/vendor/jquery.js"></script>
    <script type='text/javascript' src="./js/vendor/foundationtooltip.min.js"></script>
  </head>
  <body>
     <div class='row' style="width: 100%">
      <header class='small-12 columns'>
        <h1>goblawg &middot; Eli James</h1>
        <div class='header-actions'>
          <a href="#"><img data-tooltip arai-haspopup='true' class='has-tip' title="Regenerate the entire blog" src='/goblawg/images/regen.png' alt='regen' /></a>
          <a href="#"><img data-tooltip arai-haspopup='true' class='has-tip' title="Settings" src='./images/settings.png' alt='settings' /></a>
          <a href="#"><img data-tooltip arai-haspopup='true' class='has-tip' title="Logout" src='./images/logout.png' alt='logout' /></a>
        </div>
      </header>
    </div>
    <div class='row'>
      <div class="small-12 columns">
        <input class='title-input' type='text' placeholder='Title' name='Title' value='' />
      </div>
    </div>
    <div class='row'>
       <div class='small-12 columns editor-container'>
          <textarea class='editor'></textarea>
       </div>
          <div class='small-12 medium-6 columns'>
            <input class="button success" type="submit" value="Publish" />
          </div>
          <div class='small-12 medium-6 columns text-right save-details'>
            <a href="#">Save</a> - <em>Last saved at 9:35 pm, 9 November 2014</em> 
          </div>
    </div>
    <div class="row">
      <footer class='small-12 columns text-center'>
        Powered by goblawg.
      </footer>
    </div>
  </body>
</html>


