<!DOCTYPE html>
<html>
  <head>
  <title>goblawg >> Eli James</title>
    <link href='./css/normalize.css' type='text/css' rel='stylesheet' />
    <link href='./css/foundation.min.css' type='text/css' rel='stylesheet' />

    <link href='./css/adminstyle.css' type='text/css' rel='stylesheet' />

    <script src="./js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="//use.typekit.net/nlh5hzh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
     <div class='row'>
      <header class='small-12 columns'>
        <h1>goblawg</h1>
      </header>
    </div>
    <div class='row'>
      <div class='small-12 medium-8 columns posts-list'>
        <h2>Posts</h2>
        <ul>
          <li>
          <h3><a href='#'>Leverage</a></h3>
            <div class="post-actions">
              <a href="#">edit</a>
              <a href='#'>delete</a>
            </div>
          </li>
          <li>
          <h3><a href='#'>Mega Byte</a></h3>
            <div class="post-actions">
              <a href="#">edit</a>
              <a href='#'>delete</a>
            </div>
          </li>
        </ul>
      </div>
      <div class='small-12 medium-4 columns'>
        Blog statistics, no idea what to use.
      </div>
    </div>
  </body>
</html>

