<!DOCTYPE html>
<html>
  <head>
  <title>goblawg >> Eli James</title>
    <link href='./css/normalize.css' type='text/css' rel='stylesheet' />
    <link href='./css/foundation.min.css' type='text/css' rel='stylesheet' />

    <link href='./css/adminstyle.css' type='text/css' rel='stylesheet' />

    <script src="./js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="//use.typekit.net/nlh5hzh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
     <div class='row'>
      <header class='small-12 columns'>
        <h1>goblawg</h1>
      </header>
    </div>
    <div class='row'>
      <div class='small-12 medium-6 columns'>
        Welcome to elijames.org
      </div>
      <div class='small-12 medium-6 columns'>
        <h2>Posts</h2>
      </div>
    </div>
  </body>
</html>

