<!DOCTYPE html>
<html>
  <head>
    <title>Code | Eli James &middot; elijames.org</title>
    <meta content='Eli James' name='author' />
    <meta content='Personal site of Eli James' name='description' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link href='./css/normalize.css' type='text/css' rel='stylesheet' />
    <link href='./css/foundation.min.css' type='text/css' rel='stylesheet' />

    <link href='./css/style.css' type='text/css' rel='stylesheet' />

    <script src="./js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="//use.typekit.net/nlh5hzh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
  <div class='row'>
    <header class='small-12 columns'>
      <h1 class="text-center"><a href='/'>eli james</a></h1>
      <nav>
        <ul class="text-center">
          <li><a href='/about'>about</a></li>
          <li><a href='/essays'>essays</a></li>
          <li><a href='/work'>work</a></li>
          <li><a href='/contact'>contact</a></li>
          <li><a href="http://metacog.elijames.org">metacog</a></li>
        </ul>
      </nav> 
    </header>
  </div>
  <div class='row'><!--outer-row-->
    <div class="small-12 medium-10 medium-offset-1 columns">
      <div class='row'>
        <div class='small-12 columns'>
          <h2>Code</h2>
        </div>
        <div class='small-12 medium-6 columns code'>
          <h2><a href='https://github.com/viki-org/viki-gem'>Viki Gem &raquo;</a></h2>
          <p>A ruby wrapper for the Viki v3 API, written during a 2012 summer internship.</p>
        </div>

        <div class='small-12 medium-6 columns code'>
          <h2><a href='https://github.com/ejamesc/cors-api'>CORS API &raquo;</a></h2>
          <p>An unofficial API for the National University of Singapore's course registration system (CORS). Built in 5 days to enable other students to build new projects on top of the data.</p>
        </div>
      </div>
      <div class='row'>
        <div class='small-12 medium-6 columns code'>
          <h2><a href='http://antinews.nushackers.org/'>Antinews &raquo;</a></h2>
          <p>Hacker News without news. The value of submitted articles should not be affected by passing of time (i.e.: articles on optimizing Python are good; articles on Instagram's acquisition bad). (<a href='https://github.com/ejamesc/lobsters'>source code</a>)</p>
        </div>

        <div class='small-12 medium-6 columns code'>
          <h2><a href='/code/corpus-linguistic-tweets'>Singaporeans vs Malaysians &raquo;</a></h2>
          <p>A corpus linguistics project for figuring out the difference between Singaporean and Malaysian Twitter usage. (<a href='https://github.com/ejamesc/sgbeat-scraper'>source code</a>)</p>
        </div>
      </div>
      <div class='row'>
        <div class='small-12 medium-6 columns code'>
          <h2><a href='http://hn.elijames.org/'>HN Confidence &raquo;</a></h2>
          <p>A scraper for Hacker News that checks the HN front page every 30 minutes and rearranges stories according to the Wilson Score Confidence Interval (with comments as downvotes). This is the primary interface with which I read HN today. (<a href='https://github.com/ejamesc/hacker-news-confidence'>source code</a>)</p>
        </div>

        <div class='small-12 medium-6 columns code'>
          <h2><a href='https://github.com/ejamesc/epub-creator'>ePub Creator &raquo;</a></h2>
          <p>A Django app to generate ePub books from arbitrary models. Currently unmaintained.</p>
        </div>
      </div>
      <hr/>
      <div class="row">
        <footer class='small-12 columns text-center'>
          &copy; forever Eli James. Built on goblawg. 
        </footer>
      </div>
    </div><!--medium-10--> 
  </div><!--outer-row-->
  </body>
    </html>
