<!DOCTYPE html>
<html>
  <head>
    <title>The Most Important Class I Took in NUS | Eli James &middot; elijames.org</title>
    <meta content='Eli James' name='author' />
    <meta content='Personal site of Eli James' name='description' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link href='./css/normalize.css' type='text/css' rel='stylesheet' />
    <link href='./css/foundation.min.css' type='text/css' rel='stylesheet' />

    <link href='./css/style.css' type='text/css' rel='stylesheet' />

    <script src="./js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="//use.typekit.net/nlh5hzh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
     <div class='row'>
      <header class='small-12 columns'>
        <h1 class="text-center"><a href='/'>eli james</a></h1>
        <nav>
          <ul class="text-center">
            <li><a href='/about'>about</a></li>
            <li><a href='/essays'>essays</a></li>
            <li><a href='/work'>work</a></li>
            <li><a href='/contact'>contact</a></li>
            <li><a href="http://metacog.elijames.org">metacog</a></li>
          </ul>
        </nav> 
      </header>
    </div>
    <div class='row'><!--outer-row-->
      <div class="small-12 medium-10 medium-offset-1 columns">
        <div class='row'>
          <div class='small-12 medium-10 medium-offset-1 columns'>
            <h2><em>The Most Important Class I Took in NUS</em></h2>
            <p><span class='essay-date'>12 May 2014</span></p>
            <p>The NUS class that most changed me was a junior seminar called <em>Proof: What’s truth got to do with it?</em> by Math and Computer Science Professor Tay Yong Chiang. This was a Tembusu College module, which meant you had to be part of the college to read it; long after the class had concluded I thought back and wondered how different I might have turned out had I not chosen to do it in my third year.</p>
            <p>How I came to take the module is an interesting story. One semester before, I had spent a lazy afternoon in Tembusu reading a collection of articles on the purpose of a university education. <a href="http://theamericanscholar.org/the-disadvantages-of-an-elite-education/">Some</a> of <a href="http://www.newyorker.com/reporting/2012/04/30/120430fa_fact_auletta?currentPage=all">those pieces</a> dealt with <a href="http://www.washingtonpost.com/wp-dyn/content/article/2011/01/21/AR2011012104554_pf.html">the tension</a> – felt especially in universities with strong industry ties – of being a place of vocational training, as opposed to a place with the noble task of producing better human beings. I was conflicted because NUS was clearly for the former, and not obviously for the latter.</p>
            <p>I ran into Professor Tay shortly after and – knowing that he came from Harvard – asked him about it. “If one purpose of a university is to create better human beings,” I said, “Wouldn’t this mean that most Asian universities – focused on vocational purposes – <em>aren’t</em> good universities?”</p>
            <p>Professor Tay smiled. “You know I teach a class about Proofs and Truth?” he said. “Well, take it next semester and you’ll see.”</p>
            <p>My friend Div came back from Israel not long after. When he told me he had to fulfil a Tembusu requirement, I told him about Professor Tay’s pitch and how it seemed like a fun class. This was how we ended up taking it together. We did not know what to expect.</p>
            <p>The first session of the module started oddly. Professor Tay handed out syllabus printouts, with the logos of Yale and Harvard printed at the bottom. “Look at those crests,” he said. “What do you see?”</p>
            <p>"Veritas," one of us replied.</p>
            <p>"Doesn’t that mean ‘truth’?" another said.</p>
            <p>"Yes." said Prof Tay. "In Harvard, on graduation, the master of your house gives you your scroll and then welcomes you to ‘the fellowship of educated men and women’. They believed that the mark of an educated person is that <em>he or she would have an independent desire to know the truth</em>. The point of education is to cultivate that desire in them.</p>
            <p>"In this class, we’ll look at what that means.”</p>
            <p>*</p>
            <p>In 1969, Singapore’s then-Prime Minister Lee Kuan Yew declared that poetry was “a luxury we cannot afford” - arguing, in an address at NUS, that the economic needs of the nation demanded an education system oriented for vocational training. Most of us living in Singapore know this vulnerability narrative pretty well: “Singapore is small and without natural resources”, the narrative goes, “we must take the world as it is.” There was no space for universities to create ‘better human beings’.</p>
            <p>Things are certainly changing in NUS – Yale-NUS is now one of the few liberal arts in the region. Back then, however, I had no conception of what it meant for a university to create ‘better human beings’. I was a Computer Science student. Before Tembusu College, I thought that Sociology was a spectacular waste of time, that Philosophy was singularly useless, that English Literature was questionable as a discipline. The idea that studying these subjects could make one a ‘better human being’ seemed odd; the idea that universities had a separate mission apart from teaching its students to create value in the world was completely foreign to my mind.</p>
            <p>Perhaps this wasn’t so surprising. Most Asian education systems bear the brunt of producing graduates to help with the difficult task of national development. There are very few liberal arts colleges in Asia, and none in Malaysia, where I’m from. I am therefore the product of a system where the belief is that you go to universities to get a job, and that jobs are great first because you get to make money (and your parents can boast of you) and second because they contribute to the nation’s future.</p>
            <p>Imagine my surprise when I learnt that there existed a different perspective in the (admittedly American) model of the university. In a <a href="http://www.stanford.edu/group/gcasper_project/cgi-bin/pdf/Search-to-Know-What.pdf">2010 speech</a> in Jerusalem, Gerhard Casper, the former president of Stanford, reflected on the danger of corruption of a university’s mission when scholars engaged in political advocacy. “A university should keep to its most fundamental purpose,” he argued: “‘the disinterested pursuit of truth.’”</p>
            <p>I did not then understood what he meant.</p>
            <p>*</p>
            <p>In class that semester, Professor Tay started us on a syllabus of four theories of truth, followed by discussions on whether truth was dynamic or static, whether truth was subjective or objective. We then examined truth in all the various domains of human knowledge: in religion, law, and psychology, in science, art, politics, mathematics, medicine, computer science and history. The professor closed the semester with a walkthrough of the proof for Gödel’s Incompleteness Theorem.</p>
            <p>Six sessions in, I was surprised at the apparent flimsiness of some of the truth frameworks we were learning; eight sessions in, I was surprised at how much of human knowledge rested on those theories of truth.</p>
            <p>We learnt four theories that semester:</p>
            <ol><li><em>The correspondence theory of truth</em> - that whatever corresponds to observable reality is true.</li>
              <li><em>The coherence theory of truth</em> - that propositions are true if they follow logically and coherently from a set of axioms (or intermediate propositions).</li>
              <li><em>The consensus theory of truth</em> - that what is true is what everyone agrees to be true.</li>
              <li><em>The pragmatic theory of truth</em> - what is true is what is good enough, or what is beneficial for you.</li>
            </ol><p>These theories of truth had some interesting implications that I struggled with.</p>
            <p>Take the consensus theory of truth as example: I remember thinking that it was incredibly sketchy to have truth decided by committee. Over the course of the semester, however, we began to see that all of science, and much of mathematics, was determined by consensus: replicability in the scientific method is a form of consensus; proof verification in maths is often only doable by a small group of specialist mathematicians. When Perelman proved the Poincaré conjecture, for example, three separate teams of mathematicians raced to verify the proof. Professor Tay pointed out that the mathematics was so difficult that only a few people in the world could verify it; the rest of the mathematical community had to trust in the word of those teams.</p>
            <p>The pragmatic theory of truth was another theory I had problems with. Surely it was not rigorous to decide on truths based on their convenience or usefulness? But heated debate in class showed that we accept many things for convenience’s sake. In science, for instance, one unquestioned belief is that our observations are reliable, and our senses map well to reality. But this is not necessarily the case: <em>true</em> reality might be something our senses are unable ever to capture perfectly. (One might imagine that blind bats perceive a vastly different world from us; who is to say which version of reality is closer to ‘true’ reality?)</p>
            <p>For pragmatic reasons, however, we assume that our senses are good enough for getting at the nature of reality, and conduct our experiments as if this were true.</p>
            <p>At a broader level, the study of truth in all the various disciplines of human knowledge was interesting for the reason that there were so many flavours of it:</p>
            <ul><li>Mathematical proofs required a surprising amount of human trust (if a result is true but there’s nobody around to verify it, is it really true?)</li>
              <li>The scientific method is the idea that <em>nothing is ever true</em>, that everything is at best <em>conditionally</em> true, and may be discarded at the earliest sign of disconfirmation.</li>
              <li>Truth in art is at its core the discussion of aesthetics.</li>
              <li>Truth in medical research is a study in the problems of empiricism, and</li>
              <li>Truth in psychology is often problematic because the object of study is the same as the tool of study.</li>
            </ul><p>The immediate, <em>academic</em> result of all this study of truth was that I walked away with a deeper appreciation of all the other major disciplines. I don’t mean that in a trite manner. It is easy, as an engineer, to only count what can be measured. Studying the requirements of truth in fields like psychology, business and art gave me a taste of what it felt like to measure things that couldn’t be counted.</p>
            <p>*</p>
            <p>There are two definitions of ‘disinterested’.</p>
            <p>When Gerhard Casper said, in Jerusalem, that ‘the fundamental purpose of a university is a disinterested pursuit of truth’, he did not mean ‘disinterested’ in the sense of being unmotivated. He meant it in the sense of ‘not being influenced by considerations of personal advantage’.</p>
            <p>Truths can occasionally be inconvenient things. In science, and math, disruptive truths are at worst a spanner in the cogs of our understanding of the universe. But truth in sociology, politics, history and law can be very dangerous things to uncover. Public intellectuals who spoke truth to power often found that their disinterested pursuit of truth cost them the goodwill of their governments, the violation of prevailing societal norms, or – in some cases – their lives.</p>
            <p>The question I asked Professor Tay that afternoon, many months ago, was in roundabout manner answered in the following way: the purpose of a university education is to instil in every person an independent desire for truth. It did not matter if the person was in law, or medicine, if he were an engineer, or a scientist, if he later entered politics or did art. His job was to search for the truth, in whatever form that might take for his particular discipline. The university was supposed to teach him this desire.</p>
            <p><em>This</em> was what people meant when they said universities were supposed to create ‘better human beings’. It was what Casper alluded to in his speech, when he worried over the way in which the university’s mission to create original thinkers was losing out to its goal of providing quality vocational training. It was what Professor Tay wanted to show to his class of freshmen, that semester in Tembusu College.</p>
            <p>*</p>
            <p>The desire for truth did not come suddenly to me during Professor Tay’s class. Thinking back, the most memorable way it expressed itself was that I began to be painfully aware – over the course of the semester – just how many unexamined beliefs I held in my head.</p>
            <p>Professor Tay taught us that the bar for truth in most areas of human knowledge was set pretty high. It wasn’t enough to <em>feel</em> that something was true, you also had to know <em>why</em> it was true.</p>
            <p>Applying this high standard to my own thinking turned out to be a rather frustrating process. I found myself re-evaluating many of my opinions - often in mid-conversation, often with unsatisfactory results. But this turned out to be useful: at the end of the semester, I was keenly aware of the limits of my knowledge. I was also keenly aware of the quality of the thinking around me; my favourite question to ask in discussions became: ‘so how do you know that’s true?’</p>
            <p>Near the end of the semester, Professor Tay sat us down to talk a little about what we had learnt about beliefs. “You know now that some truths are static, but that often truths can change.” he said. “The way I see it, all of us are walking around with a set of beliefs that we think are true. In the beginning this set is small, like a deflated balloon. But as we grow older, we keep adding to that set of beliefs in our head. Eventually, some day, our set of beliefs grows large enough that it bumps into another person’s set of beliefs.</p>
            <p>"When that happens, we get conflict. People disagree.</p>
            <p>"In the case of static truths about nature, this can be resolved quickly. But in cases like religion, and in many of our personal belief systems, we cannot resolve them quickly. What might be true to you might not be true to me.</p>
            <p>"So it’s worth thinking about this: perhaps everyone would benefit if we recognise that the set of beliefs we hold, especially the ones that are dynamic and subjective, are true only within our set of beliefs.</p>
            <p>“‘He’s not wrong, he just has different things in his set.’</p>
            <p>"Maybe that’s how we can all learn to live together. Maybe that’s one way we can be more tolerant."</p>
            <p>Prof Tay stopped and smiled. “Okay, that’s all for today,” he said, “Class dismissed.”</p>
            <p><em>Proof</em> was a class that changed me, and quite possibly made me a better human being in the process.</p>
            <p>I’m forever thankful that I took it.</p>
          </div>
        </div>
        <hr/>
        <div class='row'>
          <div class='small-12 columns subscribe-div'>
            <h2 class='heading'>Get updates</h2>
            <p>I write an essay a week on topics loosely connected to building a technology company in Asia. You may subscribe below for essay updates:</p>
            <div class="row collapse">
              <div class="small-6 medium-6 medium-offset-2 columns">
                <input type="text" placeholder="Your Email Address">
              </div>
              <div class="small-2 end columns">
                <a href="#" class="button green postfix">Subscribe</a>
              </div>
            </div>
          </div>
        </div>
        <hr/>
        <div class='row'>
          <div class='small-12 columns heading-div'>
            <h2 class='heading'>Other essays</h2>
          </div>
        </div>
        <div class='row'>
          <div class='small-12 medium-4 columns essay'>
            <h2><a href="/">Because Asia</a></h2>
            <p>If we say that the last 20 years of the Internet belonged to the West, the most interesting problems in the next 20 that can solved by Software will be found here in the East.</p>
          </div>
          <div class='small-12 medium-4 columns essay'>
            <h2><a href="/">Negative Knowledge and Success Stories</a></h2>
            <p>Or, why business books mostly suck.</p>

          </div>
          <div class='small-12 medium-4 columns essay'>
            <h2><a href="/">Love in the Internet Age</a></h2>
            <p>What is digital isn't always what is real.</p> 
          </div>
        </div>
        <hr/>
        <div class="row">
          <footer class='small-12 columns text-center'>
            &copy; forever Eli James. Built on goblawg. 
          </footer>
        </div>
      </div><!--medium-10--> 
    </div><!--outer-row-->
    </body>
    </html>
