<!DOCTYPE html>
<html>
  <head>
  <title>goblawg &middot; Eli James</title>
    <link href='./css/normalize.css' type='text/css' rel='stylesheet' />
    <link href='./css/foundation.min.css' type='text/css' rel='stylesheet' />

    <link href='./css/adminstyle.css' type='text/css' rel='stylesheet' />

    <script src="./js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="//use.typekit.net/nlh5hzh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type='text/javascript' src="./js/vendor/jquery.js"></script>
    <script type='text/javascript' src="./js/vendor/foundationtooltip.min.js"></script>
  </head>
  <body>
     <div class='row'>
      <header class='small-12 columns'>
        <h1>goblawg &middot; Eli James</h1>
      </header>
    </div>
    <div class='row'>
      <div class='small-12 medium-offset-2 medium-8 columns login'>
        <h1>Login</h1>
        <label>Username
          <input type="text" placeholder="Hullo there, sexy." />
        </label>
        <label>Password
          <input type="password" placeholder="El Psy Congroo." />
        </label>
        <input class="button success" type="submit" value="Onwards!" />
      </div>
    </div>
  </body>
</html>


