<div class='row'>
  <header class='small-12 columns'>
    <h1>goblawg &middot; Eli James</h1>
    <div class='header-actions'>
      <a href="#"><img data-tooltip arai-haspopup='true' class='has-tip' title="Regenerate the entire blog" src='/static/images/regen.png' alt='regen' /></a>
      <a href="#"><img data-tooltip arai-haspopup='true' class='has-tip' title="Settings" src='/static/images/settings.png' alt='settings' /></a>
      <a href="#"><img data-tooltip arai-haspopup='true' class='has-tip' title="Logout" src='/static/images/logout.png' alt='logout' /></a>
    </div>
  </header>
</div>
<div class='row'>
  <div class='small-12 columns'>
    <div class='blog-actions'>
      <a href='#' class='button tiny radius success'>New Post</a>
    </div>
  </div>
  <div class='small-12 columns posts-list'>
    <ul>
      {{ range .Posts }}
      <li>
      <h4>{{ .Time }}</h4>
      <h3><a href='#'>{{ .Title }}</a></h3>
      <div class="post-actions">
        {{ if .IsDraft }}<span class="label secondary round">Draft</span>{{ end }}
        <a href="{{ .Link }}">view</a>
        <a href='#'>delete</a>
      </div>
      </li>
      {{ end }}
    </ul>
  </div>
</div>
<div class="row">
  <footer class='small-12 columns text-center'>
    Powered by goblawg.
  </footer>
</div>
<script>
$(document).foundation({
tooltip: {
disable_for_touch: true,
}
});
</script>

