<div class='row'>
  <header class='small-12 columns'>
    <h1>goblawg &middot; Eli James</h1>
    <div class='header-actions'>
      <a href="#"><img data-tooltip arai-haspopup='true' class='has-tip' title="Regenerate the entire blog" src='/static/images/regen.png' alt='regen' /></a>
      <a href="#"><img data-tooltip arai-haspopup='true' class='has-tip' title="Settings" src='/static/images/settings.png' alt='settings' /></a>
      <a href="#"><img data-tooltip arai-haspopup='true' class='has-tip' title="Logout" src='/static/images/logout.png' alt='logout' /></a>
    </div>
  </header>
</div>
<div class='row'>
  <div class='small-12 columns'>
    <div class='blog-actions'>
      <a href='#' class='button tiny radius success'>New Post</a>
    </div>
  </div>
  <div class='small-12 columns posts-list'>
    <ul>
      <li>
      <h4>23 October 2014</h4>
      <h3><a href='#'>Leverage</a></h3>
      <div class="post-actions">
        <span class="label secondary round">Draft</span>
        <a href="#">view</a>
        <a href='#'>delete</a>
      </div>
      </li>
      <li>
      <h4>5 July 2014</h4>
      <h3><a href='#'>Mega Byte</a></h3>
      <div class="post-actions">
        <a href="#">view</a>
        <a href='#'>delete</a>
      </div>
      </li>
      <li>
      <h4>4 November 2013</h4>
      <h3><a href='#'>The Most Important Class I Took in NUS</a></h3>
      <div class="post-actions">
        <a href="#">view</a>
        <a href='#'>delete</a>
      </div>
      </li>
      <li>
      <h4>31 October 2012</h4>
      <h3><a href='#'>Actions Speak Louder Than Words</a></h3>
      <div class="post-actions">
        <a href="#">view</a>
        <a href='#'>delete</a>
      </div>
      </li>
      <li>
      <h4>8 January 2012</h4>
      <h3><a href='#'>Because Asia</a></h3>
      <div class="post-actions">
        <a href="#">view</a>
        <a href='#'>delete</a>
      </div>
      </li>
      <li>
      <h4>14 December 2010</h4>
      <h3><a href='#'>Magical Ideas, Crazy Countries, and Where To Find Them</a></h3>
      <div class="post-actions">
        <a href="#">view</a>
        <a href='#'>delete</a>
      </div>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <footer class='small-12 columns text-center'>
    Powered by goblawg.
  </footer>
</div>
<script>
$(document).foundation({
tooltip: {
disable_for_touch: true,
}
});
</script>

