/* Admin styles 
 * Can I be messy with this because nobody's watching? :P
 */

body {
  font-family: 'calluna', Georgia, serif;
}

p, li { 
  color: rgba(0, 0, 0, 0.8);
  line-height: 140%; 
  font-size: 1.25rem; 
  font-family: 'calluna', Georgia, serif; 
}

h1, h2, h3, h4, h5 { font-family: 'adelle', Georgia, serif; }

header {
  padding: 30px 0;
}

header h1 {
  font-size: 1.2rem;
  color: #aaa;
}

.posts-list {
  border-right: 1px solid #ccc;
  height: 100%;
}

.posts-list ul { padding-left: 0; margin-left: 0; }

.posts-list li {
  display: block;
  list-style: none;
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #ddd;
}

.posts-list li h3 {
  display: inline-block;
}

.posts-list li h3 a {
  color: #333; 
  font-size: 2.3rem;
}

.posts-list li h3 a:hover { color: #005a88; }

.post-actions {
  float: right;
  margin-top: 1.5rem;
}

h2 { font-size: 1.4rem; }
